body {
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-card-wrapper {
    margin: 2em;
    margin-top: 2em;
    box-shadow: -5px 10px 6px rgba(0, 0, 0, 0.5);
}

.first-card{
    margin-top: 5.5em;
}

.project-card-content {
    background-color: #202021;
    color: white;
    padding: 2em;
}

.project-card-content::after{
    content: '';
    clear: both;
    display: block;
}

.project-name {
    display: block;
    float: right;
    font-weight: bold;
    font-size: 2em;
}

.project-disc {
    display: block;
    float: left;
    font-size: 1.1em;
    line-height: 1.5em;
}

#project-video {
    height: 20em;
    width: 25em;
}

#project-video2 {
    height: 30em;
    width: 50em;
}

.project-card-content a {
    color: white;
    text-decoration: none;
}
.project-card-content a:visited{
    color: white;
}

.project-card-content a:hover {
    text-decoration: underline;
}

@media all and (max-width: 940px) {
    #project-video2 {
        height: 15em;
        width: 25em;
    }
}

@media all and (max-width: 660px) {
    .project-name{
        float: none;
        text-align: center;
    }

    #project-video {
        height: 15em;
        width: 15em;
    }

    #project-video2 {
        height: 15em;
        width: 15em;
    }

    .project-card-wrapper {
        margin: 1em;
    }

    .project-card-content {
        padding: 1.5em;
    }

    .first-card {
        margin-top: 6em;
    }
}

.navbar-wrapper {
    width: 100%;
    position: fixed;
    padding: 2em;
    background-color: white;
    padding-top: 3.5em;
    padding-bottom: 1.5em;
    z-index: 2000;
}

.navbar-content {
    font-size: 1.1em;
}

.navbar-list li {
    display: inline-block;
}

.navbar-list li a, .navbar-list li a:visited{
    text-decoration: none;
    color: black;
}

.navbar-list li:nth-child(n+2) {
    margin-left: 2em;
}

